<style type="text/css" data-reactid=".0.0.$s12"> 
/*
  
        
        .s12link {
            display: block;
            border-radius: 50%;
            border: 0px solid rgba(234, 229, 229, 1);
            background-color: rgba(234, 229, 229, 1);
            overflow: hidden;
        }
*/

.font_0 {
    font: normal normal bold 43px/1.2em 'Noticia Text', serif;
    color: #4D4D4D;
}

.font_1 {
    font: normal normal bold 14px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_2 {
    font: normal normal normal 80px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_3 {
    font: normal normal normal 80px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_4 {
    font: normal normal normal 46px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_5 {
    font: normal normal normal 19px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_6 {
    font: normal normal normal 17px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_7 {
    font: normal normal normal 16px/1.2em 'open sans', sans-serif;
    color: #4D4D4D;
}

.font_8 {
    font: normal normal normal 13px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

.font_9 {
    font: normal normal normal 12px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

.font_10 {
    font: normal normal normal 11px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

</style> <style type="text/css" data-reactid=".0.0.$theme_colors"> .color_0 {
    color: #12B7B3;
}

.backcolor_0 {
    background-color: #12B7B3;
}

.color_1 {
    color: #FFFFFF;
}

.backcolor_1 {
    background-color: #FFFFFF;
}

.color_2 {
    color: #000000;
}

.backcolor_2 {
    background-color: #000000;
}

.color_3 {
    color: #0088CB;
}

.backcolor_3 {
    background-color: #0088CB;
}

.color_4 {
    color: #FFCB05;
}

.backcolor_4 {
    background-color: #FFCB05;
}

.color_5 {
    color: #ED1C24;
}

.backcolor_5 {
    background-color: #ED1C24;
}

.color_6 {
    color: #6C3C17;
}

.backcolor_6 {
    background-color: #6C3C17;
}

.color_9 {
    color: #85CCCC;
}

.backcolor_9 {
    background-color: #85CCCC;
}

.color_11 {
    color: #EAE5E5;
}

.backcolor_11 {
    background-color: #EAE5E5;
}

.color_12 {
    color: #C4C4C4;
}

.backcolor_12 {
    background-color: #C4C4C4;
}

.color_13 {
    color: #8B8B8B;
}

.backcolor_13 {
    background-color: #8B8B8B;
}

.color_14 {
    color: #4D4D4D;
}

.backcolor_14 {
    background-color: #4D4D4D;
}

.color_19 {
    color: #9B2439;
}

.backcolor_19 {
    background-color: #9B2439;
}

.color_20 {
    color: #4D121D;
}

.backcolor_20 {
    background-color: #4D121D;
}

</style>